{% extends "base.html" %}
{% block content %}
<div id="form1">
<input type="text" placeholder="Enter Your KeyWord" name="keyword" id="keyword1"><br>
<input type="url" placeholder="Enter URL" name="url1" id="url1"><span id="ans1"></span><br>
<input type="url" placeholder="Enter URL" name="url2" id="url2"><span id="ans2"></span><br>
<input type="url" placeholder="Enter URL" name="url3" id="url3"><span id="ans3"></span><br>
<input type="url" placeholder="Enter URL" name="url4" id="url4"><span id="ans4"></span><br>
<input type="url" placeholder="Enter URL" name="url5" id="url5"><span id="ans5"></span><br>
<input type="url" placeholder="Enter URL" name="url6" id="url6"><span id="ans6"></span><br>
<input type="button" name="get count"  value="get count" id="button1" onclick="get_num()"></input>
</div>

<script>
	function get_num(){
		var data={},
			count=1,key="#url";
		var keyword=$("#keyword1")[0].value;
		data["key"]=keyword;
		var l=[];
		console.log(data);
		var elements=$(key+count)[0];
		while(elements!==undefined){
			console.log(elements.value);
			if(elements.value!==""){
				console.log(count);
				l.push({"url":elements.value,"count":count})
			};
			$("#ans"+count).html("");
			count=count+1;
			elements=$(key+count)[0];
		}
		data["datas"]=l;
		console.log(data);
		$.ajax({url:'/number',
			data:{"ok":JSON.stringify(data)},
			method:"POST"
		}).done(function success(value){
			datas=value.ok;
			console.log(datas);
			for(i in datas)
				$("#ans"+datas[i].count).html(datas[i].data);
		}).fail(function error(){
			console.log("error");
		});
}

</script>
{%endblock%}
